@use '../../styles/variable' as obj;

.product-info {
  width: 100%;
  display: flex;
  align-items: flex-start;

  :global {
    .img-style {
      aspect-ratio: obj.$img-aspect-ratio;
      object-fit: cover;
      width: 150px;
    }

    .detail {
      font-family: 'georgia_pro_light';
      flex: 1 1;
      padding-left: 20px;

      .good-name {
        font-size: 20px;
      }

      .num-controller {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
