.main-app-container {
  width: 100vw;
  height: 100vh;
  position: relative;

  :global {
    .nav-content {
      position: fixed;
      z-index: 999;
      top: 12px;
      right: 10px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #fff;
      }

      .a2 {
        text-align: justify;
        text-align-last: justify;
        font-weight: bolder;
        font-size: 10px;
      }
    }
  }
}
