.container {
  width: 100vw;
  position: relative;

  :global {
    .pictures-content {
      width: 100%;

      .title-block {
        width: 100%;
        height: 90vh;
        position: relative;

        .place-label {
          position: fixed;
          top: 40%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: #fff;
          white-space: pre;
          cursor: default;

          .lng-lat {
            font-family: "dtl_albertina_tregular";
            font-weight: bolder;
            font-size: 15px;
            font-style: italic;
          }

          .date {
            font-family: "dtl_albertina_tregular";
            font-weight: bolder;
            font-size: 30px;
            font-style: italic;
            padding-top: 5px;
          }

          .place-name {
            font-family: "ars_maquette_pro";
            font-weight: bolder;
            font-size: 60px;
            transform: translateY(-5px);
          }
        }
      }

      .pictures-block {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .picture-content {
          flex: 0 0 25%;
        }

        .description {
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
        }

        &::before {
          display: block;
          content: '';
          background-color: #353535;
          position: absolute;
          inset: 0;
        }
      }
    }
  }
}
