@use '../../styles/variable' as obj;

$margin-bottom: 10px;

.container {
  :global {
    display: flex;
    width: 100vw;
    font-family: "georgia_pro_light";

    .sub-title {
      display: inline-block;
      font-weight: bolder;
      font-size: obj.$font-size-lg;
      margin-bottom: $margin-bottom;
    }

    .flex-space-between {
    }

    .left-bar {
      width: 55vw;
      box-sizing: border-box;
      padding: 30px 50px 100px 15vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        width: 160px;
        margin: 20px;
      }

      .common-style {
        width: 100%;
        margin: $margin-bottom;
      }

      .input-row-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    .right-bar {
      width: 45vw;
    }
  }
}
