.container {
  overflow: hidden;
  position: relative;

  :global {
    .img-content {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    .info {
      background-color: rgba(180, 180, 180, 0.473);
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}