@font-face {
  font-family: "iconfont"; /* Project id 3302175 */
  src: url('iconfont.woff2?t=1649471961089') format('woff2'),
       url('iconfont.woff?t=1649471961089') format('woff'),
       url('iconfont.ttf?t=1649471961089') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back-top:before {
  content: "\e60b";
}

.icon-cancel:before {
  content: "\e637";
}

.icon-caidan:before {
  content: "\e669";
}

.icon-left:before {
  content: "\e626";
}

.icon-right:before {
  content: "\e627";
}

