@use '../../styles/variable' as obj;

.root {
  width: 100vw;
  position: relative;
  :global {
    .bgClassName {
      object-fit: cover;
      width: 100px;
    }
    .box {
      width: 100%;
      height: 100vh;
      position: relative;
      .textBox {
        display: inline-block;
        width: 80%;
        height: 100%;
        position: absolute;
        inset: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .textCommon {
          color: obj.$white;
          text-align: center;
          letter-spacing: 3px;
          word-spacing: -3px;
        }
        .leftPart {
          width: 60%;
          padding: 0px 30px;
          border-right: 2px solid obj.$white;
          .title {
            font-weight: bolder;
            font-size: obj.$h1-font-size;
            font-family: "hurme_geometric_sans3_bold";
            line-height: 3rem;
          }
          .subTitle {
            font-weight: normal;
            font-size: obj.$font-size-lg;
            font-family: "georgia_pro_light";
          }
          .iconBox {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
        }
        .rightPart {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .lng-lat {
            font-family: "dtl_albertina_tregular";
            font-weight: bolder;
            font-size: obj.$font-size-base;
            font-style: italic;
          }

          .date {
            font-family: "dtl_albertina_tregular";
            font-weight: bolder;
            font-size: obj.$font-size-base * 2;
            font-style: italic;
          }

          .place-name {
            font-family: "hurme_geometric_sans3_bold";
            font-weight: bolder;
            font-size: obj.$h1-font-size * 1.2;
            transform: translateY(-5px);
          }
        }
      }
    }
    .photos {
      width: 100vw;
      position: relative;
      padding: 10px;
      background-color: obj.$white;
    }
  }
}
