body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'beauty-demo';
  src: url(./fonts/BeautyDemo.ttf);
}

@font-face {
  font-family: 'ars_maquette_pro';
  src: url(./fonts/ARSMaquettePro.ttf);
}

@font-face {
  font-family: 'dtl_albertina_tregular';
  src: url(./fonts/DTL\ Albertina\ T\ Regular.otf);
}

@font-face {
  font-family: 'georgia_pro';
  src: url(./fonts/GeorgiaPro-SemiBold.ttf);
}

@font-face {
  font-family: 'georgia_pro_light';
  src: url(./fonts/GeorgiaPro-Light.ttf);
}

@font-face {
  font-family: 'right-on';
  src: url(./fonts/RighOn.otf);
}